[submodule "Dysgraphia-detection-through-machine-learning"]
	path = Dysgraphia-detection-through-machine-learning
	url = https://github.com/peet292929/Dysgraphia-detection-through-machine-learning.git
